.App {
  font-family: sans-serif;
  text-align: center;
}

.fetch-tokens {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

.body {
  flex-direction: column;
}

pre {
  display: block;
  text-align: start;
  max-width: 500px;
  background-color: lightgray;
  padding: 14px;
  max-height: 400px;
  scroll-behavior: auto;
  overflow: auto;
}

.symbol {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin: 10px;
}

.output {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
